<!DOCTYPE html>
<html lang="<%= t '$self' %>">
<head>
  <title>1pt</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application" %>
</head>
<%# do not remove this comment! provides "critical" functionality! hover:bg-carmine %>

<body class="bg-alabaster">
<nav class="h-28 sm:h-16 md:h-14 px-5 bg-celestial flex flex-row flex-wrap gap-2 justify-end sm:justify-between items-center">
  <div class="flex flex-row items-center gap-2">
    <%= link_to '/', class: 'h-full font-plex text-4xl mx-1' do %>
      <span class="italic">1</span>pt
    <% end %>
    <% if logged_in? %>
      <%= render 'layouts/events_menu' %>
    <% end %>
  </div>
  <% if logged_in? %>
    <%= render partial: 'layouts/user', locals: { user: @current_user } %>
  <% else %>
    <%= render 'layouts/guest' %>
  <% end %>
</nav>
<main class="container mx-auto mt-16 flex flex-col">
  <div class="flex flex-col items-center">
    <% if flash && flash.key?(:errors) %>
      <% flash[:errors].each { |error| %>
        <div class="border-b-2 border-b border-carmine px-2 text-carmine">
          <%= error %>
        </div>
      <% } %>
    <% end %>
  </div>
  <div class="flex flex-col items-center">
    <% if flash && flash.key?(:notices) %>
      <% flash[:notices].each { |error| %>
        <div class="border-b-2 border-b border-charcoal px-2 text-charcoal">
          <%= error %>
        </div>
      <% } %>
    <% end %>
  </div>

  <%= yield %>
</main>
</body>
</html>
