<div class="mx-4 w-full flex flex-col">
  <div class="flex flex-row gap-1">
    <h1 class="mb-8 lg:mb-4 text-4xl"><%= t 'events.name' %></h1>
    <h1 class="mb-8 lg:mb-4 text-4xl"><%= @event.name %></h1>
  </div>

  <%= form_for :response do |form| %>
    <div class="flex flex-col gap-2">
      <% @entries.each_with_index { |entry, i| %>
        <div class="flex flex-row gap-2">
          <div class="text-xl mr-4 col-1 w-full md:w-1/3 lg:w-1/6 max-w-full">
            <%= l entry, format: :long %>
          </div>

          <div class="flex flex-row flex-wrap-reverse gap-2">
            <% @response_types.each_with_index { |resp, idx| %>
              <%= button_tag type: 'button' \
                , id: "btn_#{i}_#{resp[:type]}" \
                , class: "col-#{idx + 2} py-2 text-lg sm:text-base w-full md:w-fit max-w-full" + button_classes \
                , onclick: "change_entry_status(#{i}, '#{resp[:type]}')" do %>
                <%= resp[:text] %>
              <% end %>
            <% } %>

            <input type="hidden"
                   id="response_entry_<%= i %>"
                   name="response[entry][<%= i %>]"
                   autocomplete="off"
                   value="<%= @default_response[:type] %>"/>
            <%= text_field_tag "ignore_#{i}", @default_response[:text], disabled: true, class: 'col-5 w-full md:w-fit' %>
          </div>
        </div>
      <% } %>
    </div>

    <div class="mt-8 flex flex-col w-fit">
      <% if logged_in? %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <h2 class="text-xl">Respond as</h2>
        <%= form.text_field :responder %>
      <% end %>

      <%= form.submit class: 'mt-6 ' + button_classes %>
    </div>
  <% end %>
</div>

<!--  -->

<script type="application/javascript">
    const config = JSON.parse(`<%= raw @response_types.inject({}) { |acc, elem| acc[elem[:type]] = elem[:text]; acc } .to_json %>`)

    function change_entry_status(entry, new_status) {
        document.getElementById(`response_entry_${entry}`).value = new_status
        document.getElementById(`ignore_${entry}`).value = config[new_status]
    }
</script>